#cabecera{
    background-color: yellow;
    margin-bottom: 20px;
    padding: 10px;
}

footer{
    margin-top: 100px;
    padding: 14px 10px 0 10px;
    background-color: yellow;
    
}

.card-hotel{
    flex: 1 150px;
    padding: 3px 5px 3px 5px;
    margin-top: 20px;
}

.btn-reserva{
    width: 100%;
}